@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* 글자색을 검정색으로 변경 */
    --background-start-rgb: 255, 255, 255; /* 배경색을 흰색으로 변경 */
    --background-end-rgb: 255, 255, 255; /* 배경색을 흰색으로 변경 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.containerb {
  display: flex; /* Flexbox 레이아웃을 사용합니다 */
  justify-content: center; /* 가로 방향으로 중앙 정렬합니다 */
  align-items: center; /* 세로 방향으로 중앙 정렬합니다 */
  min-height: 100vh; /* 최소 높이를 화면 높이의 100%로 설정하여 항상 중앙에 위치하도록 합니다 */
}

.modal {
  background-color: #ffffff; /* 모달의 배경색을 흰색으로 변경 */
  color: rgb(var(--foreground-rgb));
  width: 700px;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 5vh auto;
}

h2 {
  font-weight: bold;
}

p{
  font-weight: bold;
}

.modal-header {
  background-color: #f8f9fa; /* 모달 헤더 배경을 밝은 회색으로 변경 */
  color: rgb(var(--foreground-rgb));
  padding: 12px;
  font-size: 1.5em; 
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 10px; /* 상단 왼쪽 모서리 둥글게 처리 */
  border-top-right-radius: 10px; /* 상단 오른쪽 모서리 둥글게 처리 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 상단에 그림자 효과 추가 */
}

.modal-section {
  padding: 20px;
  border-bottom: 1px solid #555;
}

.modal-section:last-child {
  border-bottom: none;
}

.modal-section h2 {
  color: rgb(var(--foreground-rgb)); /* 제목 글자색을 검정색으로 변경 */
  margin-bottom: 10px;
}

.modal-content {
  display: flex;
  justify-content: space-between; /* 요소들을 양쪽 끝으로 정렬 */
  align-items: center; /* 요소들을 세로 중앙에 정렬 */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f0f0f0; /* 모달 컨텐츠 배경을 밝은 회색으로 변경 */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.modal-content:hover {
  background-color: #e2e2e2; /* 호버시 배경색을 더 밝은 회색으로 변경 */;
}

.date-time {
  flex-grow: 1;
  margin-right: 10px; 
}

.action {
  white-space: nowrap;
  color: rgb(var(--foreground-rgb)); /* 액션 글자색을 검정색으로 변경 */
  text-align: right; /* 텍스트를 오른쪽 정렬 */
  padding-left: 10px;
  padding-right: 10px;
}

.unavailable .action {
  color: #aaaaaa; /* 예약불가 텍스트 색상을 회색으로 변경 */
  cursor: default; /* 변경: 마우스 오버시 커서 변경 없음 */
}

.available .action:hover {
  text-decoration: underline; /* 호버 효과 추가 */
}

.modal-footer {
  padding: 20px;
  background-color: #f0f0f0; /* 모달 푸터 배경을 밝은 회색으로 변경 */
  text-align: center;
}

.close-button {
  background-color: #d6d8db; /* 닫기 버튼 배경을 회색으로 변경 */
  color: rgb(var(--foreground-rgb));
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.close-button:hover {
  background-color: #babec2; /* 호버시 닫기 버튼 배경을 더 밝은 회색으로 변경 */
}

.news-card {
  background-color: #fff; /* 배경색 */
  border-radius: 0.5rem; /* 둥근 모서리 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition: box-shadow 0.3s; /* 그림자 효과에 대한 전환 */
}

.news-card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* 호버 상태에서 그림자 효과 변경 */
}

.news-card article {
  display: flex; /* Flexbox 레이아웃 적용 */
  flex-direction: column; /* 세로 스택 구조 */
  justify-content: space-between; /* 상하 여백 균등 분포 */
  height: 100%; /* 전체 높이 */
}

.news-card h3 {
  color: #333; /* 제목 색상 */
}

.news-card p {
  color: #666; /* 본문 색상 */
  font-size: 0.875rem; /* 본문 폰트 크기 */
}

.news-card span {
  font-weight: bold; /* 링크 볼드 처리 */
  text-decoration: none; /* 밑줄 없앰 */
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
    max-height: 80vh;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 95%;
    max-height: 70vh;
  }

  .modal-content {
    align-items: center; /* 중앙 정렬로 변경 */
  }

  .action {
    text-align: center; /* 중앙 정렬로 변경 */
    margin-top: 5px; /* 상단 여백 추가 */
  }
}
